.botoncircular{
	overflow: hidden;
	border-radius: 50%;
	color: #fff;
	width: 100px;
	height: 100px;
	padding: 0;
	font-weight: 500;
}

.botoncircular span {
	display: block;
	position: relative;
}

.botoncircular > span {
	overflow: hidden;
	color: white;
}

.botoncircular:hover > span > span {
	animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;
}

.botoncircular::before {
	content: '';
	background: #272341;
	width: 100%;
	height: 100%;
	padding-bottom: 0%;
	border-radius: 50%;
	transform: translate3d(0,0,0);
	transition: transform 0.3s;
	transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
}

.botoncircular:hover::before {
	transform: translate3d(0,100%,0);
}

@keyframes MoveUpInitial {
	to {
		transform: translate3d(0,-105%,0);
	}
}

@keyframes MoveUpEnd {
	from {
		transform: translate3d(0,100%,0);
	}
	to {
		transform: translate3d(0,0,0);
	}
}


.button {
	pointer-events: auto;
	cursor: pointer;
	background: #6e84b9;
	border: none;
    padding: 5px, 10px;
	margin: 0;

    position: absolute;
    display: inline-block;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;

}

.button::before,
.button::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}