input[type=text],input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
@media (max-width: 575px) {
    input[type=text],input[type=email], select, textarea{
        margin-top: 2px;
    }
    
}
input[type=submit] {
    background-color: #56699b;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #272341;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.copy-mail{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.textforcopy{
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    color: #56699b;
}

.textforcopy:hover{
    font-size: 21px;
    color: #272341;
}